.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color:rgba(0, 0, 0, 0.217); 
  padding: 9px;
  border-radius: 50%;
color: #c5a22d;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px; 
  color: #c5a22d;
}
.swiper-pagination {
  bottom: 15px; /* distance from bottom */
}

.swiper-pagination-bullet {
  width: 10px;                /* bullet size */
  height: 10px;
  background-color: #d4af37;  
  opacity: 0.7;
  margin: 0 5px !important;   
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #c5a22d;  
  transform: scale(1.3);      
  opacity: 1;
}

/* Smaller bullets for mobile */
@media (max-width: 640px) {
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 3px !important;
  }

  .swiper-pagination-bullet-active {
    transform: scale(1.2);
  }
}